* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-family: sans-serif;
  text-align: center;
  background-color: white;
  padding: 40px 30px;
  margin-top: 120px;
  border-radius: 20px;
  box-shadow: 5px 10px 20px 0px rgba(59, 63, 59, 0.4);
}

h1 {
  font-size: 48px;
  margin-top: -10px;
}
.valueNum {
  font-size: 60px;
  margin-top: 60px;
}
.by-user {
  margin: 10px;
  font-size: 20px;
}
input {
  width: 60px;
  height: 25px;
}
.btn {
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 4px;
}

.decrement {
  background-color: rgb(248, 44, 44);
  width: 50px;
}
.decrement:hover {
  box-shadow: 2px 2px 4px 4px rgba(244, 0, 0, 0.6);
}
.reset {
  background-color: rgb(119, 136, 153);
  padding: 0px 10px;
}
.reset:hover {
  box-shadow: 2px 2px 4px 4px rgb(119, 136, 153);
}
.increment {
  background-color: rgb(15, 117, 40);
  width: 50px;
}
.increment:hover {
  box-shadow: 2px 2px 4px 4px rgba(8, 69, 8, 0.6);
}

@media (max-width: 700px) {
  .content {
    width: 60%;
  }
  h1 {
    font-size: 30px;
  }
  .valueNum {
    font-size: 48px;
  }
}
